.title {
  display: flex;
}

h2 {
  font-size: 50px;
}

h5 {
  font-size: 30px;
  margin-left: 10%;
}

.btn1 {
  background-color: bisque;
  margin-left: 5px;
}

.btn2 {
  margin-left: 5px;
}
