<div class="image">
  <div class="title">
    <h2>{{ title }}</h2>
    <h5>{{ subtitle }}</h5>
  </div>
</div>

<p>{{message}}</p>

<div>
  <button mat-raised-button class="btn1">伊勢</button>
  <button mat-raised-button class="btn2">長島スパーランド</button>
  <button mat-raised-button class="btn1">なばなの里</button>
  <button mat-raised-button class="btn2">志摩スペイン村</button>
  <button mat-raised-button class="btn1">食べ物</button>
</div>

<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="a-title">伊勢神宮</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>伊勢神宮の正式名称は「神宮」。 内宮（皇大神宮）と外宮（豊受大神宮）が有名ですが、<br>
          実はその他にも大小さまざまな社が伊勢志摩地域に点在し、すべてで125社から成る神社です。 <br>
          起源は今から約2000年前、大和から皇祖神・天照大御神の御杖代として旅した倭姫命が、<br>
          五十鈴川のほとりに皇大神宮を定めたとされています。</p>
      </div>
      <img src="assets/ise.png" class="image">
      <mat-action-row>
        <button mat-button>閉じる</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>


