<div class="image">
  <div class="title">
    <h2>{{ title }}</h2>
    <h5>{{ subtitle }}</h5>
  </div>
</div>

<p>{{ message }}</p>

<p>{{result}}</p>
<form [formGroup]="myControl" (submit)="onSubmit()">
  <div>
    <select formControlName="control">
      <option>熊本城</option>
      <option>阿蘇山</option>
      <option>平山温泉</option>
      <option>天草</option>
      <option>夏目友人帳～人吉市～</option>
      <option>食べ物</option>
    </select>
  </div>
</form>

<mat-card class="card">
  <mat-card-title>熊本城</mat-card-title>
  <mat-card-subtitle>波乱と栄華に満ちた「熊本城」400年の歴史</mat-card-subtitle>
  <mat-card-content>
    <img src="assets/castle.png" width="50%" height="60%">
    <p>
      慶長12（1607）年、茶臼山と呼ばれた台地に加藤清正が当時の最先端技術と労力を投じて、<br>
      名城熊本城を完成させます。以後、熊本城は400年に亘る日本の様々な歴史の重要な舞台となっていきます。<br>
      加藤清正から細川忠利、宮本武蔵、谷干城など歴史に名を刻んだ人物達を支えた城。
    </p>
  </mat-card-content>
</mat-card>
<h4>平山温泉</h4>

ポップアップメニューP290
カードレイアウトP304

