<div class="image">
  <div class="title">
    <h2>{{ title }}</h2>
    <h5>{{ subtitle }}</h5>
  </div>
</div>

<p>{{ message }}</p>

<p>{{result}}</p>
<form [formGroup]="myControl" (submit)="onSubmit()">
  <div>
    <select formControlName="control">
      <option>熊本城</option>
      <option>阿蘇山</option>
      <option>平山温泉</option>
      <option>天草</option>
      <option>夏目友人帳～人吉市～</option>
      <option>食べ物</option>
    </select>
  </div>
</form>

フォームの部分をボタン機能にする？

<h4>熊本城</h4>
<h4>平山温泉</h4>

ポップアップメニューP290
カードレイアウトP304

